%plus-icon {
  content: "\2b";
  font-size: em(10);
  font-family: Fontawesome;
  margin-top: rem(2);
  color: palette(primary, orange);
}

%menu-hover {
  color: palette(text, white);
  background-color: palette(primary, orange);
}

#page {
  position: relative;
}

header {
  .region-header {
    display: flex;
    justify-content: space-between;
    padding: rem(30) 0;

    #block-promotors-branding {
      align-self: center;
      padding: rem(8) 0;
    }

    #block-promotors-mainnavigation {
      flex-basis: 60%;

      &.contextual-region {
        position: unset;
      }

      div.sf-accordion-toggle {
        a#superfish-main-toggle {
          display: flex;
          justify-content: flex-end;

          &:before {
            content: "\f550";
            font-family: FontAwesome;
            font-size: em(35);
            color: palette(primary, orange);
          }

          & > span {
            visibility: hidden;
            position: absolute;
          }
        }
      }

      ul#superfish-main-accordion {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        z-index: 500;
        background: palette(greys, grey-shade1);
        left: 0 !important; // To override superfish 'important' property.
        top: 0 !important; // To override superfish 'important' property.
        height: 100%;
        @include scrollAnimation(fadeInRight);

        &.sf-expanded {
          li {
            a {
              &:hover {
                @extend %menu-hover;
              }
            }
          }

          ul.sf-has-clone-parent {
            li {
              &.sf-clone-parent {
                display: none;
              }

              a {
                padding-left: rem(40);
              }
            }
          }
        }

        .sf-sub-indicator {
          opacity: unset;

          &:after {
            @extend %plus-icon;
          }
        }

        &.remove-animation {
          opacity: 0;
          transition: all 1s ease-out;
          animation: fadeOut 1s ease-out;
        }

        li {
          a {
            color: palette(text, white);
            font-family: $font-family-chakra-petch-regular;
            font-size: em(18);
            text-transform: uppercase;
            border-bottom: 1px solid palette(greys, grey-shade2);

            &.is-active {
              background-color: palette(primary, orange);
            }
          }
        }

        .mobile-header {
          display: flex;
          justify-content: space-between;

          .close-menu {
            padding-right: rem(24);
            align-self: center;

            &:before {
              content: "\f00d";
              font-family: Fontawesome;
              font-size: em(24);
              cursor: pointer;
            }
          }
        }
      }

      ul#superfish-main {
        display: flex;
        justify-content: center;

        @include upto-breakpoint(1039px) {
          display: none;
        }

        .mobile-header {
          display: none;
        }

        > li {
          &:hover {
            > a:not(.is-active) {
              color: palette(primary, orange);

              &:after {
                width: 100%;
                left: 0;
                opacity: 1;
              }
            }
          }

          > a {
            text-transform: uppercase;
            color: palette(primary, white);
            padding: em(13) 0;
            margin: 0 1.5em;
            position: relative;
            transition: .4s;

            &.is-active {
              color: palette(primary, orange);
              border-bottom: 2px solid palette(primary, orange);
            }

            &:after {
              background-color: palette(primary, orange);
              bottom: 0;
              content: "";
              display: block;
              height: 2px;
              position: absolute;
              transition: .4s;
              width: 10px;
              left: 100%;
              opacity: 0;
            }

            .sf-sub-indicator {
              opacity: unset;
              right: -0.25em;

              &:after {
                @extend %plus-icon;
              }
            }

            &.sf-with-ul {
              padding-right: 1rem;

              & + ul {
                background-color: palette(greys, grey-shade1);
                border: 2px solid palette(greys, grey-shade2);
                left: 1.5em;
                top: 3.7em;

                li:not(:last-child) {
                  border-bottom: 2px solid palette(greys, grey-shade2);
                }

                > li {
                  > a {
                    white-space: nowrap;

                    &.is-active {
                      @extend %menu-hover;
                    }

                    &:hover {
                      @extend %menu-hover;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    #block-supportinformation {
      display: none;
      @include from-breakpoint(1040px) {
        display: block;
      }

      .field--name-field-contact-number {
        border: 2px solid palette(primary, orange);
        color: palette(primary, white);
        padding: rem(10) rem(30);
        line-height: 1.1em;
        font-family: $font-family-chakra-petch-bold;
        @include clipStyle(20px);
      }
    }
  }
}

@include fadeIn('right', 500px);
@include fadeOut(100%);
