.paragraph--type--image-with-caption {
  .image-with-caption {
    padding: rem(30) 0;

    .promotors-hr {
      margin: rem(20) 0 rem(35);
      border: 1px solid palette(greys, grey-shade2);
    }

    &__items {
      &.off {
        .field__item {
          .image-with-caption-item {
            &__image {
              border-top: 3px solid palette(primary, orange);
            }

            &__content {
              transition: all .3s ease-in-out;

              .caption {
                opacity: 0;
                position: absolute;
                left: rem(25);
                bottom: 0;
                transition: all .3s ease-in-out;
              }

              &:hover {
                background-color: palette(greys, grey-shade3);

                .caption {
                  transform: translateY(-40px);
                  opacity: 1;
                }
              }
            }
          }
        }

        .scroll-animation {
          opacity: 0;
          @include scrollAnimation(fadeInBottom);
        }
      }

      &.on {
        .field__item {
          .image-with-caption-item {
            overflow: hidden;

            &:hover {
              .image-with-caption-item__content {
                transform: translateY(-95%);
              }
            }

            &__image {
              img {
                opacity: 1;
              }
            }


            &__content {
              bottom: -95%;
              height: 100%;
              background-color: #121212B5;
              transition: transform .5s ease-in-out;

              .team-member {
                position: absolute;
                margin: rem(40) rem(25);
                bottom: 0;
              }
            }
          }
        }
      }
    }

    .field--name-field-items.field__items {
      @include row;
      justify-content: space-between;

      & > .field__item {
        @include col(12, $use-gutter: false);
        margin-bottom: rem(40);

        @include from-breakpoint(768px) {
          @include col(6, $component-layout: 'halves', $use-gutter: false);
        }

        @include from-lg {
          @include col(3, $use-gutter: false);
        }
      }
    }
  }
}

@include fadeIn('bottom', 150px);
@include stopAnimation;
