.paragraph--type--image-with-caption-item {
  .image-with-caption-item {
    position: relative;

    &__image {
      img {
        @include imgFluid;
      }
    }

    &__content {
      position: absolute;
      z-index: 3;
    }

    &__caption {
      color: palette(text, white);
      font-family: $font-family-chakra-petch-bold;
      font-size: em(18);
      text-transform: uppercase;
      line-height: 1.3em;
    }
  }
}
