{% extends 'node.html.twig' %}

{% block content %}
  {{ content.field_hero_image }}
  <div class="blog-info">
    <div class="published-date">{{ published_date_formatted }}</div>
    {% if comment_count %}
      <div class="comment-count">{{ comment_count }}</div>
    {% endif %}
  </div>
  {{ content | without(
    'field_hero_image',
    'field_published_date'
  ) }}
{% endblock %}
